body > header {
  background-color: var(--color-surface-bright);
}

body > header > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-block: var(--spacing-xs);
  margin-inline: auto;
  inline-size: min(
    var(--breakpoint-lg),
    calc(100% - (var(--spacing-gutter) * 2))
  );
}

body > header nav > ul {
  display: flex;
}

body > header nav > ul a {
  padding: var(--spacing-input-block) var(--spacing-input-inline);
  display: flex;
}



main:has(> aside) {
  display: grid;

  gap: var(--spacing-gutter);
  padding-block: var(--spacing-gutter);


  margin-inline: auto;
  inline-size: min(min(var(--breakpoint-lg), 100%), calc(100% - (var(--spacing-gutter) * 2)));
/* margin-inline: auto;
max-width: var(--breakpoint-lg);
padding-inline: var(--spacing-gutter); */

  @media (width > 60rem) {
    padding-block: var(--spacing-2xl);
    
    grid-template-columns: minmax(min(100%, 20ch), .5fr) minmax(min(50vw, 30ch), 1.25fr);
    
  }
}

main:has(figure) > * {
  /* grid-column: 1;
  max-width: 100%; */
  overflow-x: hidden
}

/* main:has(aside) > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 30ch;
} */

main > aside {
  @media(width > 60rem) {
    align-self: start;
    position: sticky;
    top: var(--spacing-gutter);
    z-index: 1;
  }
}

main > aside h2 {
  font-size: var(--font-size-sm);
  font-weight: normal;
}

main > aside nav a {
  display: flex;
  padding: 0;
  padding-inline-start: 1em;
}

main > aside nav > ul {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}


[aria-current="page"] {
  font-weight: bold;
  text-decoration: none;
  color: var(--color-ink);
  cursor: default;
}
