.sr-only:not(:focus):not(:active) {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  position: absolute;
  white-space: nowrap;
}

.focus\:not-sr-only:focus-visible {
  width: auto;
  height: auto;
  padding: initial;
  margin: initial;
  overflow: visible;
  clip-path: auto;
  white-space: normal;
}