.prose {
  --_flow: 1.5em;
}
.prose > * + * {
  margin-block-start: var(--_flow);
}

.prose hr {
  --_flow: var(--spacing-xl);
}

.prose hr + * {
  --_flow: var(--spacing-xl);
}


.prose hgroup + * {
  margin-block-start: var(--spacing-2xl);
}

.prose hgroup {
  container: group / inline-size;
}

.prose hgroup h1 {
  font-size: var(--font-size-5);
}

@container group (width > 36rem) {
  .prose hgroup h1 {
    font-size: var(--font-size-6);
  }
}

:where(.prose p) {
  max-inline-size: 65ch;
}



.prose [data-footnotes] {
  --_flow: var(--spacing-2xl);
  font-size: var(--font-size-00);
  border-block-start: var(--border-width-hairline) solid var(--color-separator);
  padding-block-start: var(--spacing-gutter);
}
