---
import type { MarkdownHeading } from 'astro';

type Props = {
	title: string;
	headings: MarkdownHeading[];
};

const { title } = Astro.props;
---


	<article class="main-article">
    <div aria-live='polite' id='announce'></div>
		<h1 id="overview">{title}</h1>
		<slot />
	</article>

