---
import Layout from "@/layouts/Layout.astro"
import { getCollection } from "astro:content"

const title = "Welcome"
const description = "A classless CSS library"

const nav = await getCollection("docsNavigation")
---

<Layout title={title} description={description}>

  <ul>

  </ul>
    <article>
      <header>
        <hgroup>
          <h1>SOL</h1>

          <p><em>CSS without the FUSS</em></p>
        </hgroup>
      </header>
      <p><a href='#0' role='button'>Get Started</a> <a href='#0'>Download</a></p>
    </article>

</Layout>
