---
import Layout from "@/layouts/Layout.astro"

const title = "Welcome"
const description = "A classless CSS library"
---

<Layout title={title} description={description}>
  <section>
    <article>
      <header>
        <hgroup>
          <h1>SOL</h1>

          <p><em>CSS without the FUSS</em></p>
        </hgroup>
      </header>
      <p><a href='#0' role='button'>Get Started</a> <a href='#0'>Download</a></p>
    </article>
  </section>
</Layout>
