---
import BaseNav from "@/components/Base/BaseNav.astro"
// import { 
//   getLanguageFromURL, 
//   KNOWN_LANGUAGE_CODES 
// } from "@/languages"

// import SkipToContent from './SkipToContent.astro';

type Props = {
  currentPage: string
}

const { currentPage } = Astro.props
// const lang = getLanguageFromURL(currentPage)
---

<header>
  <div>
    <p style="font-size: var(--font-size-md)"><strong>SOL</strong> CSS</p>
    <BaseNav currentPage={currentPage} />
  </div>
</header>
