---
// import BaseNav from './BaseNav.astro';

// import { SITE } from '../../config';

// import SkipToContent from './SkipToContent.astro';
// import SidebarToggle from './SidebarToggle';
// import LanguageSelect from './LanguageSelect';


type Props = {
	currentPage?: string;
};

const { currentPage } = Astro.props;

---

<header>
	<p><strong>SOL</strong> CSS</p>

<!-- <BaseNav currentPage={currentPage} /> -->
</header>