<form>
  <label for="">Color Picker
  <input type='color' value='#3950ca' />
</label>

  <fieldset>
    <label>
      First name
      <input name='first_name' placeholder='First name' autocomplete='given-name' />
    </label>
    <label>
      Email
      <input type='email' name='email' placeholder='Email' autocomplete='email' />
    </label>
  </fieldset>

  <input type='submit' value='Subscribe' />
</form>

<form>
  <label
    >Text
    <input type='text' name='text' placeholder='Text' />
  </label>

  <input type='date' name='date' aria-label='Date' />

  <input type='datetime-local' name='datetime-local' aria-label='Datetime local' />
  <input type='month' name='month' aria-label='Month' />
  <input type='time' name='time' aria-label='Time' />

  <input type='file' />

  <input type='search' name='search' placeholder='Search' aria-label='Search' />

  <label
    >Cowbell
    <input type='range' name='cowbell' min='0' max='100' value='80' step='10' />
  </label>

  <label
    >Message
    <textarea rows='6' placeholder='Comments'></textarea>
  </label>

  <label
    >Choose a title
    <select required>
      <option disabled selected value=''>Select your title</option>
      <option>Mr</option>
      <option>Miss</option>
      <option>Mrs</option>
      <option>Other</option>
    </select>
  </label>

  <label>
    <input type='text' name='text' placeholder='Text' aria-label='Text' />
  </label>

  <fieldset>
    <legend>Enquiry type</legend>
    <label><input checked='checked' name='type' type='radio' value='sales' /> Sales</label>
    <label><input name='type' type='radio' value='support' /> Support</label>
    <label><input name='type' type='radio' value='billing' /> Billing</label>
  </fieldset>

  <label>
    <input type='checkbox' id='terms' value='terms' />
    <span>I agree to the <a href='#'>terms and conditions</a></span>
  </label>

  <label
    >Email
    <input type='email' name='email' placeholder='Email' autocomplete='email' />
  </label>

  <label
    >Number
    <input type='number' name='number' placeholder='Number' />
  </label>

  <label
    >Password
    <input type='password' name='password' placeholder='Password' />
  </label>

  <label
    >Tel
    <input type='tel' name='tel' placeholder='Tel' autocomplete='tel' />
  </label>

  <label
    >URL
    <input type='url' name='url' placeholder='Url' />
  </label>
</form>

