<form>
  <div>
    <label for="cowbell">Cowbell</label>
    <input type="range" id="cowbell" name="cowbell" min="0" max="100" value="80" step="10" />
  </div>
  <div>
    <label for='title'>Choose a title</label>
    <select id='title' required>
      <option disabled selected value=''>Select your title</option>
      <option>Mr</option>
      <option>Miss</option>
      <option>Mrs</option>
      <option>Other</option>
    </select>
  </div>
  <div>
    <label for='first_name'>First name</label>
    <input type='text' name='first_name' id='first_name' placeholder='Jane' />
  </div>
  <div>
    <label>Surname</label>
    <input type='text' name='surname' placeholder='Doe' />
  </div>
  <div>
    <label>Email</label>
    <input type='email' name='email' required='' placeholder='janedoe@mailbox.com' />
  </div>
  <fieldset>
    <legend>Enquiry type</legend>
    <label><input checked='checked' name='type' type='radio' value='sales' /> Sales</label>
    <label><input name='type' type='radio' value='support' /> Support</label>
    <label><input name='type' type='radio' value='billing' /> Billing</label>
  </fieldset>
  <div>
    <label>Message</label>
    <textarea rows='6' placeholder='Comments'></textarea>
  </div>
  <div>
    <input type='checkbox' id='terms' value='terms' />
    <label for='terms'><span>I agree to the <a href='#'>terms and conditions</a></span></label>
  </div>
  <div role='group'>
    <button><strong>Submit</strong></button>
    <button type='reset'>Reset</button>
  </div>
</form>
