<abbr title="Abbreviation">Abbr</abbr>
<strong>Bold</strong>
<code>Code</code>
<mark>Highlighted</mark>
<ins>Inserted</ins>
<em>Italic</em>
<kbd>Kbd</kbd>
<a href="#0">Link</a>
<small>Small</small>
<strike>Strike</strike>
<sup>Superscript</sup>
<sub>Subscript</sub>
<u>Underline</u>
