---
const phrase = "The quick brown fox jumps over the lazy dog."
const fontSizes = ["--font-size-00", ...Array.from({ length: 7 }, (_, i) => `--font-size-${i}`)]
---

<div>
  {
    fontSizes.map((fontSize) => (

        <code>{fontSize}</code>
        <p style={{ fontSize: `var(${fontSize})` }}>{phrase}</p>
     
    ))
  }
</div>

<style>
  /* ul {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-lg);
    
  } */
  div {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
    justify-items: start;
    gap: var(--spacing-gutter) var(--spacing-sibling);
    
  }


  p {
    line-height: calc(1em + 0.5rem);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-inline-size: 100%;
  }
</style>
